.head {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 50px;
  background-color: #a4d9eb;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  opacity: 60%;
}

/* .light {
  position: absolute;
  z-index: -1;
  top: -50px;
  justify-content: space-evenly;
  border: 2px solid black;
} */

/* .bulb {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa500;
} */

/* .stick {
  position: absolute;
  background-color: gray;
  width: 10px;
  height: 15px;
} */
